body {
    font-family: 'Mulish', sans-serif;
}

.herot {
    display: flex;
    align-items: center;

}

.lii>ul {
    display: flex;
}

.ulc {
    list-style: none;

}

.ulc li a {
    text-decoration: none;
}

.nclass {
    margin-right: 30px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.thead {
    color: #131318;
    font-size: 36px;
    font-weight: 800;

}

.org,
.nclass1 {
    color: #FF5400;

}

.hero {
    height: 40px;
}

.bg {
    background-image: url('/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    height: 500px;
    width: 1050px;
    margin-left: 140px;
    border-radius: 16px;
    background-color: (180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.explor {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
    padding: 106px 200px 0 200px;

}

.pera {
    color: #FFF;
    font-family: Mulish;
    font-size: 16px;
    font-weight: 400;
    padding: 0 247px;
    text-align: center;
    margin-top: 5px;
}

.gap {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    padding-left: 16px;
}

.find {
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 700;

}

.gappp {
    margin-left: 100px;
    display: inline-flex;
    padding: 16px;
    align-items: flex-start;
    gap: 24px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
}

.popular {
    color: #131318;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.dot {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

.bin {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}

#mmm {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 174px;
    height: 52px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FF5400;
    margin-top: 20px;
}

.mount {
    display: flex;
    gap: 50px;
    justify-content: space-around;
    align-items: center;
    margin: 100px 120px 0 120px;
}

#kkk {
    width: 450px;
    height: 450px;
    border-radius: 16px;
}

.popu {
    color: #131318;
    text-align: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
}

.dot1 {
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    margin: 0 400px;
    margin-bottom: 30px;
}

#hhh {
    height: 300px;
    width: 550px;
}

.img1 {
    display: flex;
    gap: 24px;
    align-items: center;
    margin-left: 120px;
    margin-bottom: 24px;
}

.img2 {
    margin-left: 120px;
    display: flex;
    gap: 24px;
}

.nev {
    display: flex;
    align-items: center;
    margin: 0 100px 30px 100px;
    gap: 35px;
}

.qwe {
    width: 65px;
    height: 65px;
}

.bnm {
    color: #131318;
    font-size: 24px;
    font-weight: 800;
}

.cvb {
    color: #5A5A5D;
    font-size: 16px;
    font-weight: 400;
}

.why3 {
    margin: 0 400px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.why1{
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
}
.why2{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}